@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Work Sans", serif;
}

header {
  background-color: rgba(255, 144, 14, 0.1);
}

nav,
main,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

main > section {
  margin-top: 130px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1.2rem;
  color: #424242;
}

.logo h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #131313;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.display-flex {
  display: flex;
}

/* Banner Related Style */

.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-content h3 {
  font-size: 4rem;
  font-weight: bold;
  color: #131313;
  margin-bottom: 40px;
}

.banner-content p {
  font-size: 1rem;
  font-weight: 400;
  color: #727272;
}

.banner img {
  width: 100%;
}

/* Shared Style */

.btn-primary {
  background-color: #ff900e;
  color: white;
  padding: 20px 25px;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}

/* Team and Feature Related Style */
.teams {
  align-items: center;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-feature {
  margin-left: 73px;
  max-width: 537px;
}

.our-feature h3,
.sponsor-info h3,
.some-facts h3 {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 24px;
}

.our-feature p {
  color: #727272;
  margin-bottom: 32px;
}

#quick-list {
  font-weight: 500;
  color: #727272;
}

.primary-color {
  color: #ff900e;
}

/* features-Enjoy Section */
.features {
  gap: 146px;
}

.feature-architect img {
  width: 100%;
}

.feature-card {
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  border-radius: 8px;
}

.feature-card h4 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0 0;
}

.features-enjoy h3,
.feature-card h3 {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 24px;
}

.features-enjoy p,
.feature-card p {
  color: #727272;
  margin-bottom: 32px;
}

#manu {
  border-left: 6px solid #ff900e;
  padding-left: 21px;
}

.button-primary {
  background-color: #ff900e;
  color: white;

  padding: 45px 42px;
  font-size: 1.2rem;
  border-style: none;
  margin-left: -100px;
  margin-top: -100px;
}

#big {
  font-weight: bold;
  font-size: 4rem;
}

#small {
  font-weight: 500;
  font-size: 1.2rem;
}

/* Fact Style */

.fact-card {
  border: 1px solid #ff900e;
  width: 240px;
  height: 240px;
  margin: 50px auto;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fact-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.fact-card h4 {
  font-size: 2rem;
  font-weight: 600;
  color: #131313;
  margin-top: 10px;
  margin-bottom: 5px;
}

.fact-card h5 {
  font-size: 1rem;
  font-weight: 500;
  color: #727272;
  margin-top: 10px;
}

/* Sponsors Style  */

.sponsor-info {
  max-width: 542px;
  margin: 50px auto;
  text-align: center;
}

.sponsor-companies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img {
  filter: grayscale(100%);
}

/* Responsive Media Query */

@media screen and (max-width: 576px) {
  nav,
  .navbar,
  .features,
  .teams {
    flex-direction: column;
  }

  .team-img-container,
  .fact-container,
  .features,
  .banner,
  .sponsor-companies {
    grid-template-columns: repeat(1, 1fr);
  }
  .fact-container,
  .our-feature {
    margin-left: 10px;
  }
  .fact-card {
    margin: 20px auto;
  }
  .fact-container {
    justify-items: center;
    gap: 24px;
  }

  .button-primary {
    margin-top: 20px;
    margin-left: 25px;
    justify-items: center;
  }

  .sponsor-companies,
  .some-facts {
    justify-items: center;
    gap: 50px;
  }
}

/* Medium Size Device */

@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams,
  .features {
    flex-direction: column;
  }
  .some-facts h3,
  .some-facts p {
    margin-top: 0px;
    text-align: center;
  }
  .our-feature {
    margin: 50px auto;
  }

  .team-img-container,
  .fact-container {
    grid-template-columns: repeat(2, 2fr);
  }

  .button-primary {
    margin-top: 20px;
    margin-left: 300px;
    justify-items: center;
  }

  .sponsor-companies {
    grid-template-columns: repeat(2, 2fr);
    justify-items: center;
    gap: 50px;
  }
}

footer {
  background-color: #fff4e7;
  margin-top: 40px;
  padding: 50px;
  mar
}
footer p {
  color: #424242;
  text-align: center;
  font-weight: 400px;
  font-size: px;
}
